@page "/fazlaudo"
<h3>Fazer Laudo</h3>

@if (Carregando)
{
    <MudProgressCircular Color="Color.Default" Indeterminate="true" />
}
else
{
    @if (ModeloSelecionado != null)
    {
        <MudGrid>
            <MudItem xs="8">
                <MudGrid>
                    @foreach (var c in ModeloSelecionado.CampoTextos)
                    {
                        @if (ModeloSelecionado.Especie is { Fav: true })
                        {
                            <MudItem xs="12">
                                <MudNumericField @bind-Value="Fav" Label="Fav" Variant="Variant.Text" />
                            </MudItem>
                            <MudItem xs="12">
                                <MudTextField @bind-Value="InvolucroInicial" Label="Invólucro Inicial" Variant="Variant.Text" />
                            </MudItem>
                            <MudItem xs="12">
                                <MudTextField @bind-Value="InvolucroFinal" Label="Invólucro Inicial" Variant="Variant.Text" />
                            </MudItem>
                        }
                        @if (c.Titulo.Trim().Length > 0)
                        {
                            <MudItem xs="12">
                                <MudText Typo="Typo.h6">@c.Titulo</MudText>
                            </MudItem>
                        }
                        <MudItem xs="12">
                            <MudTextField T="string" Label="Multiline" Variant="Variant.Text" 
                                          @bind-Text=c.Texto Lines="5" />
                        </MudItem>
                    }
                </MudGrid>
            </MudItem>
            <MudItem xs="4">
                <MudGrid>
                    @foreach (var c in ModeloSelecionado.CampoData)
                    {
                        <MudItem xs="12">
                            <MudDatePicker Label="@c.ClassificadorCampo!.Nome" @bind-Date="@c.Valor" />
                        </MudItem>
                    }
                    @foreach (var c in ModeloSelecionado.CampoDecimal)
                    {
                        <MudItem xs="12">
                            <MudNumericField Label="@c.ClassificadorCampo!.Nome" @bind-Value="@c.Valor" />
                        </MudItem>
                    }
                    @foreach (var c in ModeloSelecionado.CampoLista)
                    {
                        @if (c.MultiplosValores)
                        {
                            <MudItem xs="8">
                                <MudSelect T="Guid" Label="@c.ClassificadorCampo!.Nome" AnchorOrigin="Origin.BottomCenter" @bind-Value="@c.Valor">
                                    @foreach (var item in c.Itens)
                                    {
                                        <MudSelectItem Value="@item.Id">@item.Nome</MudSelectItem>
                                    }
                                </MudSelect>
                            </MudItem>
                            <MudItem xs="4">
                                <MudIconButton Icon="@Icons.Material.Filled.Add" Size=@Size.Small Color="Color.Primary" OnClick="() => Adicionar(c)" />
                            </MudItem>
                            @foreach (var item in c.Selecionados)
                            {
                                <MudItem xs="4">
                                    <MudButton Variant="Variant.Text" Color="Color.Primary" 
                                    EndIcon="@Icons.Material.Filled.DeleteOutline" OnClick="()=>Apagar(item, c)">@item.Nome</MudButton>
                                </MudItem>
                            }
                        }
                        else
                        {
                            <MudItem xs="12">
                                <MudSelect T="Guid" Label="@c.ClassificadorCampo!.Nome" AnchorOrigin="Origin.BottomCenter" @bind-Value="@c.Valor">
                                    @foreach (var item in c.Itens)
                                    {
                                        <MudSelectItem Value="@item.Id">@item.Nome</MudSelectItem>
                                    }
                                </MudSelect>
                            </MudItem>
                        }
                    }
                </MudGrid>
            </MudItem>
        </MudGrid>

        <MudButtonGroup Variant="Variant.Outlined" OverrideStyles="false">
            <MudButton Color="Color.Primary" Variant="Variant.Outlined" OnClick="Salvar">Emitir Laudo (on line)</MudButton>
            <MudButton Color="Color.Secondary" Variant="Variant.Outlined" OnClick="Salvar">Baixar Modelo (.docx)</MudButton>
            <MudButton Color="Color.Warning" Variant="Variant.Outlined" OnClick="Cancelar">Cancelar</MudButton>
        </MudButtonGroup>
    }
    else
    {
        <MudText Typo="Typo.h6">Modelos Cadastrados</MudText>
        <MudTable Items="Lista" Hover="true" SortLabel="Ordenar" Elevation="0" @bind-SelectedItem="ModeloSelecionado">
            <HeaderContent>
                <MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<ModeloLaudo, object>(x=>x.Nome)">Nome</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<ModeloLaudo, object>(x=>x.Especie!.Nome)">Espécie</MudTableSortLabel></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Modelo">@context!.Nome</MudTd>
                <MudTd DataLabel="Espécie">@context!.Especie!.Nome</MudTd>
            </RowTemplate>

        </MudTable>
    }
}